<h2>友だちリスト</h2>

<div class="row panel panel-primary" id="friends">
  <dl>
    <%= for user <- @friends do %>
      <dt class="friend-date">{{ friend.created_at }}</dt><dd class="friend-friend"><a href="/profile/<%= user.account_name %>"><%= user.nick_name %></a></dd>
    <% end %>
  </dl>
</div>
